<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="Application" factoryName="Application">
    <option name="MAIN_CLASS_NAME" value="com.bank.MainApp" />
    <module name="TransactionBancaireDevoirLibre" />
    <option name="VM_PARAMETERS" value="--module-path &quot;C:\Users\Hp\Desktop\javafx-sdk-23.0.1\lib&quot; --add-modules javafx.controls,javafx.fxml " />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>